.user, .form {
  display: flex;
  justify-content: space-between;
  background-color: #929292;
  color: white;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  align-items: center;
  cursor: pointer;
}